:root {
    --tile-size : 100px;
    --light-tile : #dfebbe;
    --dark-tile : #255802;
    --bg-color : #202020;
}

@meida all and (max-width: 450px){
    :root {
        --tile-size : 50px;
    }
}

    